# 해석 결과는 저장소에 올리지 않음 (스크립트로 언제든 재생성)
runs/
sweep_results.csv
*.msh
*.step
*.FCStd
*.FCBak
__pycache__/
# 설치 검증 케이스 출력
00_install_check/[1-9]*/
00_install_check/postProcessing/
00_install_check/constant/polyMesh/
00_install_check/log.*
